:root {
    font-size: setting(base_fontSize);
    color: $black;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

html, body {
    min-height: 100%;
}

body {
    font-family: $font-family;
}

a {
    text-decoration: none;
    color: inherit;
}

h1,h2,h3,h4,h5,h6 {
    sub {
        display: block;
        font-size: 0.45em;
        margin: spacing(1) 0;
    }
}

h1 {
    font-size: 1.5em;
    margin: spacing(3) 0;
}

h2 {
    font-size: 1.35em;
    margin: spacing(3) 0;
}

h3 {
    font-size: 1.25em;
    margin: spacing(2) 0;
}

h4 {
    font-size: 1.1em;
    margin: spacing(2) 0;
}

h5 {
    font-size: 1em;
    margin: spacing(2) 0;
}

h6 {
    font-size: 0.75em;
    margin: spacing(1) 0;
}

p {
    margin: spacing(2) 0;
}

hr {
    margin: spacing(4) 0;
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0) 0%, rgba(51, 51, 51, 0.2) 10%, rgba(51, 51, 51, 0.2) 90%, rgba(0, 0, 0, 0) 100%);
}

ul, ol {
    padding-left: spacing(4);
}

.page {
    position:absolute;
    width:100%;
    top:0em;
    left:0;
}

.dropdown {
    ul, ol {
        padding-left: 0em;
    }
}

.blur {
    filter: blur(0.1em) grayscale(25%);
}

.bg-black:not(.nav),
.bg-black.navbar > *,
.bg-black.navtabs > .flex {
    background-color: $black;
    color: $white;
}

.bg-darkgrey:not(.nav),
.bg-darkgrey.navbar > *,
.bg-darkgrey.navtabs > .flex {
    background-color: $darkgrey;
    color: $white;
}

.bg-white:not(.nav),
.bg-white.navbar > *,
.bg-white.navtabs > .flex {
    background-color: $white;
    color: $black;
}

.bg-grey:not(.nav),
.bg-grey.navbar > *,
.bg-grey.navtabs > .flex  {
    background-color: $grey;
    color: $black;
}

@each $color in $colorNames {
    .bg-#{$color}:not(.nav),
    .bg-#{$color}.navbar > *,
    .bg-#{$color}.navtabs > .flex {
        background-color: color(#{$color});
        color: $white;
    }

    .bg-#{$color}-dark:not(.nav),
    .bg-#{$color}-dark.navbar > *,
    .bg-#{$color}-dark.navtabs > .flex  {
        background-color: color(dark#{$color});
        color: $white;
    }

    .bg-#{$color}-gradient:not(.nav),
    .bg-#{$color}-gradient.navbar > *,
    .bg-#{$color}-gradient.navtabs > .flex {
        background: linear-gradient(to bottom, color(#{$color}), color(dark#{$color}));
        background-repeat: no-repeat;
        background-size: cover;
        color: $white;
    }

    .bg-#{$color}-gradient-horizontal:not(.nav),
    .bg-#{$color}-gradient-horizontal.navbar > *,
    .bg-#{$color}-gradient-horizontal.navtabs > .flex {
        background: linear-gradient(to right, color(#{$color}), color(med#{$color}));
        background-repeat: no-repeat;
        background-size: cover;
        color: $white;
    }

    .bg-#{$color}-gradient-horizontal__inverted:not(.nav),
    .bg-#{$color}-gradient-horizontal__inverted.navbar > *,
    .bg-#{$color}-gradient-horizontal__inverted.navtabs > .flex {
        background: linear-gradient(to right, color(med#{$color}), color(#{$color}));
        background-repeat: no-repeat;
        background-size: cover;
        color: $white;
    }
}

.color-black {
    color: $black;
}

.color-white {
    color: $white;
}

.color-grey {
    color: $grey;
}

@each $color in $colorNames {
    .color-#{$color} {
        color: color(#{$color});
    }

    .color-#{$color}-dark {
        color: color(dark#{$color});
    }
}

$alignments: left center right;

@each $a in $alignments {
    .align-#{$a} {
        text-align: #{$a};
    }
}

.badge {
    color: $white;
    background: $darkgrey;    
    padding: 0.5em 0.8em;
    margin-right: spacing(2);
    margin-bottom: spacing(2);
    border-radius: setting('badge_borderRadius');
    display: inline-block;
    font-size: 0.8em;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    cursor: default;
    user-select: none;
}

.badge.badge-big {
    font-size: 1.4em;
}

.badge.badge-med {
    font-size: 1em;
}

.badge.badge-thick {
    padding: 0.3em 0.6em;
}

@each $color in $colorNames {
    .badge-#{$color}{
        color: $white;
        background: color(#{$color});
    }

    .badge-#{$color}-dark {
        color: $white;
        background: color(dark#{$color});
    }
}

.itemlist {
    padding-left: 0;
}

.itemlist .itemlist__item .buttons {
    line-height: 1em !important;
}

.clickable {
    cursor: pointer;
}

[hidden], .hidden {
    display: none;
}

.hidden-lg {
    display: none;
}

.container {
    padding-left: spacing(2);
    padding-right: spacing(2);
}

@media only screen and (max-width: 48em) {
    .hidden-xs {
        display: none;
    }
}

@media only screen and (max-width: 64em) {
    .hidden-sm {
        display: none;
    }
}

@media only screen and (max-width: 75em) {
    .hidden-md {
        display: none;
    }
}

@media only screen and (min-width: 48em) {
    .container {
        padding-left: 0;
        padding-right: 0;
    }

    
}


  