.flex,
.flex-xs {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    > * {
        flex-grow: 1;
        flex-basis: 0;
    }
}

.flex {
    > * {
        width: 100%;
    }
}

.hero {
    justify-content: center;
    align-content: center;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.ml-auto {
    margin-left: auto;
}

@media only screen and (max-width: 48em) {
    .page.main-view {
        width: calc(100% - 1em);
        margin-left: .5em;
        margin-right: .5em;
    }
}