body.has-navtabs {
    padding-bottom: $navtabHeight;
}

.navtabs {
    position: fixed;
    width: 100%;
    height: $navtabHeight;
    bottom: 0;
    left: 0;
    text-align: center;
    z-index: zIndex('navtabs');

    .navtabs__item {
        cursor: pointer;
        user-select: none;
        padding: 0;
        height: 100%;
        display: inline-block;

        .fa {
            font-size: 1.25em;
        }
    }

    .row {
        margin: 0;
        height: 100%;
    }

    a {
        opacity: 0.75;
        display: inline-block;
        padding: 0.4em 0;
        width: 100%;
        height: 100%;

        .navtabs__item__label {
            display: inline-block;
            width: 100%;
            font-size: 0.6em;
            word-break: break-word;
        }
    }

    a.router-link-exact-active {
        font-weight: 900;
        opacity: 1;
    }

    .container {
        box-shadow: 0 -1px 3px rgba(0,0,0,0.12), 0 -1px 2px rgba(0,0,0,0.24);
    }
}

.navtabs.tab-count-4 {
    .navtabs__item__label {
        font-size: 0.55em;
    }
}

.navtabs.tab-notext {
    height: 2.5em;

    .navtabs__item__label {
        display: none;
    }

    a {
        padding: 0.6em 0;
    }
}

@media only screen and (min-width: 48em) {
    .navtabs {
        .container {
            border-top-left-radius: setting('navtabBorderRadius');
            border-top-right-radius: setting('navtabBorderRadius');
        }
        
        a {
            .navtabs__item__label {
                font-size: 0.8em;
            }
        }
    }

    
}